In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rc("figure",figsize = (12,6))
plt.style.use("ggplot")

In [3]:
df = pd.read_csv('weight-height.csv')

In [4]:
df.shape

(10000, 3)

In [5]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [7]:
q1 = df.Height.quantile(.25)

In [8]:
q3 = df.Height.quantile(.75)

In [9]:
iqr = q3 - q1

In [10]:
iqr

5.668641245615746

In [12]:
lower_limit = q1 - 1.5*iqr

In [33]:
upper_limit = q3 + 1.5*iqr

In [34]:
lower_limit

55.00265861279534

In [35]:
upper_limit

77.67722359525831

In [36]:
#everything beyond lower and upperlimit is outlier:
df[df.Height<lower_limit]

      Gender     Height     Weight
6624  Female  54.616858  71.393749
7294  Female  54.873728  78.606670
9285  Female  54.263133  64.700127

In [37]:
df[df.Height>upper_limit]

     Gender     Height      Weight
994    Male  78.095867  255.690835
1317   Male  78.462053  227.342565
2014   Male  78.998742  269.989699
3285   Male  78.528210  253.889004
3757   Male  78.621374  245.733783

In [38]:
df_no_outlier = df[(df.Height<upper_limit)&(df.Height>lower_limit)]

In [39]:
df_no_outlier.shape

(9992, 3)

# For Weight:

In [43]:
df_no_outlier.Weight.describe()

count    9992.000000
mean      161.422760
std        32.019872
min        68.982530
25%       135.821269
50%       161.197662
75%       187.124646
max       255.863326
Name: Weight, dtype: float64

In [44]:
q1_weight = df_no_outlier.Weight.quantile(.25)

In [45]:
q3_weight = df_no_outlier.Weight.quantile(.75)

In [46]:
IQR = q3_weight-q1_weight

In [47]:
IQR

51.30337782017526

In [52]:
lower_limit_weight = q1_weight - 1.5*IQR
lower_limit_weight

58.86620193294637

In [53]:
upper_limit_weight = q3_weight + 1.5* IQR
upper_limit_weight

264.0797132136474

In [50]:
df_no_outlier[df_no_outlier.Weight<lower_limit_weight]

Empty DataFrame
Columns: [Gender, Height, Weight]
Index: []

In [51]:
df_no_outlier[df_no_outlier.Weight>upper_limit_weight]

Empty DataFrame
Columns: [Gender, Height, Weight]
Index: []